In [26]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import numpy as np

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split as tts
from pickle import dump

import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.optimizers import Adam, RMSprop

In [27]:
url= "https://raw.githubusercontent.com/kxerxess/Diabetes-Prediction/master/data/diabetes-FINAL.csv"
df = pd.read_csv(url)
df.head()

,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,...,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13
0,0,6,148.0,72.0,35.0,169.5,33.6,0.627,50,1,...,0,0,0,1,1,0,1176.0,0.120000,0.294985,0
1,1,1,85.0,66.0,29.0,102.5,26.6,0.351,31,0,...,0,1,0,1,1,1,771.4,0.032258,0.302439,1
2,2,8,183.0,64.0,32.0,169.5,23.3,0.672,32,1,...,0,0,0,1,1,0,745.6,0.250000,0.188791,1
3,3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0,...,0,1,0,1,1,1,646.3,0.047619,0.223404,1
4,4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1,...,0,0,0,1,1,0,1508.5,0.000000,0.196429,0

In [28]:
df = df.drop('Unnamed: 0', axis=1)
df = df.drop('DiabetesPedigreeFunction', axis=1)

In [29]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,Age,Outcome,F0,F1,...,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13
0,6,148.0,72.0,35.0,169.5,33.6,50,1,0,0,...,0,0,0,1,1,0,1176.0,0.120000,0.294985,0
1,1,85.0,66.0,29.0,102.5,26.6,31,0,0,1,...,0,1,0,1,1,1,771.4,0.032258,0.302439,1
2,8,183.0,64.0,32.0,169.5,23.3,32,1,0,1,...,0,0,0,1,1,0,745.6,0.250000,0.188791,1
3,1,89.0,66.0,23.0,94.0,28.1,21,0,1,1,...,0,1,0,1,1,1,646.3,0.047619,0.223404,1
4,0,137.0,40.0,35.0,168.0,43.1,33,1,0,0,...,0,0,0,1,1,0,1508.5,0.000000,0.196429,0

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Pregnancies    768 non-null    int64
 1   Glucose        768 non-null    float64
 2   BloodPressure  768 non-null    float64
 3   SkinThickness  768 non-null    float64
 4   Insulin        768 non-null    float64
 5   BMI            768 non-null    float64
 6   Age            768 non-null    int64
 7   Outcome        768 non-null    int64
 8   F0             768 non-null    int64
 9   F1             768 non-null    int64
 10  F2             768 non-null    int64
 11  F3             768 non-null    int64
 12  F4             768 non-null    int64
 13  F5             768 non-null    int64
 14  F6             768 non-null    int64
 15  F7             768 non-null    int64
 16  F8             768 non-null    int64
 17  F9             768 non-null    int64
 18  F10            768 non-null    float64
 19  F11            768 non-null    float64
 20  F12            768 non-null    float64
 21  F13            768 non-null    int64
dtypes: float64(8), int64(14)
memory usage: 132.1 KB

In [31]:
columns = df.columns
print(columns)

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'Age', 'Outcome', 'F0', 'F1', 'F2', 'F3', 'F4', 'F5', 'F6', 'F7',
       'F8', 'F9', 'F10', 'F11', 'F12', 'F13'],
      dtype='object')

In [32]:
cat_feat = df.loc[:, ['F0', 'F1', 'F2', 'F3', 'F4', 'F5', 'F6', 'F7', 'F8', 'F9', 'F13']]
cat_feat

     F0  F1  F2  F3  F4  F5  F6  F7  F8  F9  F13
0     0   0   0   0   0   0   0   1   1   0    0
1     0   1   0   1   0   1   0   1   1   1    1
2     0   1   0   0   0   0   0   1   1   0    1
3     1   1   1   1   0   1   0   1   1   1    1
4     0   0   0   0   0   0   0   1   1   0    0
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...
763   0   0   0   1   0   0   0   1   1   0    0
764   0   0   1   0   0   0   0   1   1   1    1
765   0   1   1   0   0   0   0   1   1   0    1
766   0   0   0   0   0   0   0   1   1   1    1
767   1   0   1   1   0   0   0   1   1   1    1

[768 rows x 11 columns]

In [33]:
num_feat = df.loc[:, ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'Age', 'F10', 'F11', 'F12']]
num_feat

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,Age,F10,F11,F12
0,6,148.0,72.0,35.0,169.5,33.6,50,1176.0,0.120000,0.294985
1,1,85.0,66.0,29.0,102.5,26.6,31,771.4,0.032258,0.302439
2,8,183.0,64.0,32.0,169.5,23.3,32,745.6,0.250000,0.188791
3,1,89.0,66.0,23.0,94.0,28.1,21,646.3,0.047619,0.223404
4,0,137.0,40.0,35.0,168.0,43.1,33,1508.5,0.000000,0.196429
...,...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.0,180.0,32.9,63,1579.2,0.158730,0.350000
764,2,122.0,70.0,27.0,102.5,36.8,27,993.6,0.074074,0.263415
765,5,121.0,72.0,23.0,112.0,26.2,30,602.6,0.166667,0.267857
766,1,126.0,60.0,32.0,169.5,30.1,47,963.2,0.021277,0.277286
767,1,93.0,70.0,31.0,102.5,30.4,23,942.4,0.043478,0.224390

In [34]:
target_var = df.loc[:, ['Outcome']]
target_var

     Outcome
0          1
1          0
2          1
3          0
4          1
..       ...
763        0
764        0
765        0
766        1
767        0

[768 rows x 1 columns]

In [35]:
num_feat_arr = num_feat.values
num_feat_col = num_feat.columns

In [36]:
sc=StandardScaler()
num_feat_arr_sc=sc.fit_transform(num_feat_arr)

In [37]:
num_feat_arr_sc.shape

(768, 10)

In [38]:
num_feat = pd.DataFrame(data=num_feat_arr_sc, columns=num_feat_col)
num_feat.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,Age,F10,F11,F12
0,0.639947,0.864625,-0.032180,0.665181,0.311604,0.169483,1.425995,0.436284,0.144246,-0.023905
1,-0.844885,-1.204727,-0.528124,-0.010112,-0.440843,-0.848549,-0.190672,-0.455696,-0.929227,0.014204
2,1.233880,2.014265,-0.693438,0.327535,0.311604,-1.328478,-0.105584,-0.512575,1.734723,-0.566853
3,-0.844885,-1.073339,-0.528124,-0.685405,-0.536303,-0.630399,-1.041549,-0.731491,-0.741294,-0.389882
4,-1.141852,0.503310,-2.677212,0.665181,0.294758,1.551096,-0.020496,1.169312,-1.323886,-0.527802

In [39]:
cat_feat.head()

   F0  F1  F2  F3  F4  F5  F6  F7  F8  F9  F13
0   0   0   0   0   0   0   0   1   1   0    0
1   0   1   0   1   0   1   0   1   1   1    1
2   0   1   0   0   0   0   0   1   1   0    1
3   1   1   1   1   0   1   0   1   1   1    1
4   0   0   0   0   0   0   0   1   1   0    0

In [40]:
input_data = num_feat.merge(cat_feat ,left_index=True , right_index=True, how = "left")
input_data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,Age,F10,F11,F12,...,F1,F2,F3,F4,F5,F6,F7,F8,F9,F13
0,0.639947,0.864625,-0.032180,0.665181,0.311604,0.169483,1.425995,0.436284,0.144246,-0.023905,...,0,0,0,0,0,0,1,1,0,0
1,-0.844885,-1.204727,-0.528124,-0.010112,-0.440843,-0.848549,-0.190672,-0.455696,-0.929227,0.014204,...,1,0,1,0,1,0,1,1,1,1
2,1.233880,2.014265,-0.693438,0.327535,0.311604,-1.328478,-0.105584,-0.512575,1.734723,-0.566853,...,1,0,0,0,0,0,1,1,0,1
3,-0.844885,-1.073339,-0.528124,-0.685405,-0.536303,-0.630399,-1.041549,-0.731491,-0.741294,-0.389882,...,1,1,1,0,1,0,1,1,1,1
4,-1.141852,0.503310,-2.677212,0.665181,0.294758,1.551096,-0.020496,1.169312,-1.323886,-0.527802,...,0,0,0,0,0,0,1,1,0,0

In [41]:
input_data.shape

(768, 21)

In [42]:
output_data = target_var.copy()
output_data.head()

   Outcome
0        1
1        0
2        1
3        0
4        1

In [43]:
X = input_data.values
y = output_data.values
print(X.shape, y.shape)

(768, 21) (768, 1)

In [44]:
np.sum(y)

268

In [45]:
differ=[]
for i in range(1000):
    xTrain,xTest,yTrain,yTest=tts(X, y, test_size=0.2, random_state=i)
    count_1 = np.sum(yTrain)
    count_0 = len(yTrain)-count_1
    diff = abs(count_0-count_1)
    differ.append(diff)
print(min(differ), differ.index(min(differ)))

154 395

In [46]:
xTrain,xTest,yTrain,yTest=tts(X, y, test_size=0.2, random_state=154)

In [47]:
count_1 = np.sum(yTrain)
count_0 = len(yTrain)-count_1
diff = print(count_0-count_1)

206

In [48]:
count_1

204

In [49]:
#dump(sc, open('scaler.pkl', 'wb'))

In [51]:
model = keras.models.load_model('./hybrid_100+200ep_32bs_89acc_BEST2_RS154')

model = Sequential()
model.add(Dense(128, activation='relu', input_shape=(21,)))
model.add(Dropout(0.5))
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.3))
model.add(Dense(32, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(1, activation='sigmoid'))
model.compile(optimizer='RMSprop', loss='binary_crossentropy', metrics=['accuracy'])

In [ ]:
#history=model.fit(xTrain, yTrain, epochs=200, batch_size=16)

In [52]:
pred = model.predict(xTest)
pred_bn=(pred>0.5)

In [53]:
print(classification_report(yTest,pred_bn))

              precision    recall  f1-score   support

           0       0.86      0.97      0.91        90
           1       0.94      0.78      0.85        64

    accuracy                           0.89       154
   macro avg       0.90      0.87      0.88       154
weighted avg       0.90      0.89      0.89       154

In [ ]:
plt.plot(history.history['loss'])
plt.title('Loss Convergence')
plt.show()

In [ ]:
plt.plot(history.history['accuracy'])
plt.title('Accuracy Convergence')
plt.show()

In [61]:
a = model.predict(xTest[0])

(21,)